<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="container header header-container">
        <div id="logo-log-in" class="header header-logo-holder">
            @Html.Partial("_LogInPartial")
        </div>
        <div class="header main-menu-holder">
            <ul class="nav" id="main-menu">
                <li>@Html.ActionLink("Hem", "Index", "Home")</li>
                <li>@Html.ActionLink("Om", "About", "Home")</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
            </ul>
        </div>
        <div class="clear">&nbsp;</div>
    </div>

    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        
        @if (Request.IsAuthenticated)
        {
           @Html.Partial("~/Views/Menu/" + Session["role"] + "/_MainNav.cshtml")
           @*@Html.Partial("~/Views/Menu/Student/_MainNav.cshtml")*@
        }
        
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>