@model LMS.Models.AppUser

<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        @{var login = true;}
        @{var teacher = true;}

        @if (login)
        {   
            if (teacher)
            {
                <div id="teacher" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Lärarportal", "Index", "User")</li>
                        <li>@Html.ActionLink("Användare", "User", "User")</li>
                        <li>@Html.ActionLink("Klasser", "Index", "Group")</li>
                        <li>@Html.ActionLink("Schema", "Index", "Scheme")</li>
                        <li>@Html.ActionLink("Inlämningar", "Index", "Task")</li>
                        <li>@Html.ActionLink("Ämne", "Index", "Subject")</li>
                    </ul>
                </div>
            }
            else
            {
                <div id="student" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Elevportal", "Index", "User")</li>

                    </ul>
                </div>
            }
         }


    </div>
</div>