<ul class="level1">
    <li>@Html.ActionLink("Schema","Schedule","Schedule")</li>
    <li>@Html.ActionLink("Klasslista", "Group", "GroupList")</li>
    <li>@Html.ActionLink("Delade filer", "#", "#")</li>
    <li>@Html.ActionLink("Inlämningar", "Schedule", "Schedule")</li>
    <li>
        <ul class="level2">
            <li>@Html.ActionLink("Aktuella uppgifter", "#", "#")</li>
            <li>@Html.ActionLink("Inlämnade uppgifter", "#", "#")</li>
        </ul>
    </li>
    <li>@Html.ActionLink("Ändra lösenord", "User", "Edit")</li>
</ul>
