
@{
    ViewBag.Title = "Index Elevportal";
}

@section scripts {
    <script src="~/App/Student/studentApp.js"></script>
}

<div class="row" ng-app="subject" ng-controller="subjectCtrl">
    <div class="col-md-3">
        <div id="sub-menu">
            <ul>
                <li><a href="#/">Schema</a>@Html.ActionLink("Schema", "Schedule", "Student")</li>
                <li><a href="#/">Schema</a>@Html.ActionLink("Klasslista", "Group", "Student")</li>
                <li>@Html.ActionLink("Delade filer", "File", "Student")</li>
                <li>@Html.ActionLink("Inlämningar", "Task", "Student")</li>
                <li>
                    <ul class="level2">
                        <li>@Html.ActionLink("Aktuella uppgifter", "Task", "Student")</li>
                        <li>@Html.ActionLink("Inlämnade uppgifter", "Task", "Student")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Ändra lösenord", "Edit", "Account")</li>
                <li><a href="#/">Lista alla ämnen</a></li>
                <li><a href="#/Create">Skapa ämne</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div ng-view></div>
    </div>
</div>