<div id="teacher" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Lärarportal", "Index", "Teacher")</li>
        <li>@Html.ActionLink("Användare", "Index", "Account")</li>
        <li>@Html.ActionLink("Klasser", "Group", "Teacher")</li>
        <li>@Html.ActionLink("Schema", "Schedule", "Teacher")</li>
        <li>@Html.ActionLink("Inlämningar", "Assignment", "Teacher")</li>
        <li>@Html.ActionLink("Ämne", "Subject", "Teacher")</li>
    </ul>
</div>