<ul class="level1">
    <li>@Html.ActionLink("Lista alla scheman", "Schedule", "Teacher", new { section = "List" }, null)</li>
    <li>@Html.ActionLink("Lägg till schema", "Schedule", "Teacher", new { section = "Create" }, null)</li>
    <li>@Html.ActionLink("Redigera schema", "Schedule", "Teacher", new { section = "Edit" }, null)</li>
    <li>@Html.ActionLink("Ta bort schema", "Schedule", "Teacher", new { section = "Delete" }, null)</li>
    <li>@Html.ActionLink("Visa schema", "Schedule", "Teacher", new { section = "Details" }, null)</li>
</ul>
