@model LMS.Models.Schedule

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-md-3">
        <div id="sub-menu">
            @Html.Partial("~/Views/Teacher/Schedule/_Nav.cshtml")
        </div>
    </div>
    <div class="col-md-6">
        <h2>Visa schema för @Model.Group.Name</h2>

        <div>
            <h4>Schema</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Author.Id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Author.Id)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Group.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Group.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Subject.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Subject.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Task.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Task.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Type.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Type.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateStart)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateStart)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateEnd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateEnd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
    <div class="col-md-3">&nbsp;</div>
</div>