<div id="teacher" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Lärarportal", "Index", "User")</li>
        <li>@Html.ActionLink("Användare", "User", "User")</li>
        <li>@Html.ActionLink("Klasser", "Index", "Group")</li>
        <li>@Html.ActionLink("Schema", "Index", "Scheme")</li>
        <li>@Html.ActionLink("Inlämningar", "Index", "Task")</li>
        <li>@Html.ActionLink("Ämne", "Index", "Subject")</li>
    </ul>
</div>